*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/buildSrc/build/
/hs_err_pid6820.log
/hs_err_pid7524.log
/hs_err_pid12320.log
/hs_err_pid13028.log
/hs_err_pid13084.log
/hs_err_pid14852.log
/replay_pid7524.log
/replay_pid12320.log
/replay_pid13028.log
/replay_pid13084.log
/replay_pid14852.log
